* {
	margin: 0px;
	padding: 0px;
}
#wrapper{
	background: white;
}
#header{
	width: 1000px;
}
#footer{
	text-align: center;
}
.contactlink{
	font-size: 12px;
	color: black;
}
.dividestyle{
	font-size: 12px;
	color: grey;
}
#copyright{
	text-align: center;
	font-size: 10px;
}
.listpadding{
	padding-left: 20px;
}
.inline{
	display: inline-block;
}
.floatright{
	float: right;
}
.subpoint{
	margin-left: 10px;
}
