html p .title {
    margin: 0px 0px 1em 0px;
    padding: 0px;
}

body {
    overflow-x: hidden;
    background: #afafaf;
}

.container-fluid {
    /* background: #afafaf; */
    padding: 0px;
    margin: 0px;
}

.navbar {
    font-weight: bold;
    width: 100px;
}

.nav-link:hover {
    color: #7c7c7d;
}

.solid {
    transition: background-color 1s ease 0s;
}

#fixedbutton {
    font-size: 12px;
    position: fixed;
    bottom: 1em;
    right: 2em; 
}

.anchor {
    display: block;
    position: relative;
    visibility: hidden;
}

.splashpage {
    color: white;
    padding-top: 100px;
}

.hideme {
    opacity: 0;
}

.backgrade {
    background-image: linear-gradient(#fafafa, #afafaf);
}

/* title */
.titleparallax {
    background-image: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), 
    url("./images/bgimg-1.jpg"); 
    background-attachment: fixed;
    background-repeat: no-repeat; 
    background-size: cover; 
    background-position: bottom;
    height: 100vh;
    position: relative;
    color: white;
}

/* component heights */
.section {
    min-height: 100vh;
}

#meme {
    margin: 4px;
    max-width: 25%;
    padding: 2px;
    border: 2px solid black;
}

.name {
    color: white;
    margin-top: 28vh;
}

.summary {
    margin: 1em 0px 1em 0px;
}

.table td{
    font-size: 1em;
    font-weight: bold;
    color: black;
}

a:link, a:visited, .projectlinks {
    color: black;
}

.biolinks {
    color: rgba(255, 255, 255, 0.5);
    font-size: 30px;
    filter: invert(100%)
}

.smalltext {
    font-size: 1em;
}

.biolinks:hover, a:hover {
    color: blue;
    text-decoration: none;
}

.project:hover {
    box-shadow: 0px 0px 2px 1px #444444;
}

#emailbtn {
    text-align: center;
    max-width: auto;
}

#footer {
    text-align: center;
    background-color: white;
    border-radius: 5px;
    padding: 1.25rem;
    margin: 4px 15px 0px 15px;
}

#copyright {
    font-size: 1em;
    margin-bottom: 1rem;
    padding: 0px;
}