html p .title {
    margin: 0px;
    padding: 0px;
}

body {
    overflow-x: hidden;
}

.container-fluid {
    background: #c3c3c3;
    padding: 0px;
    margin: 0px;
}

.navbar {
    font-weight: bold;
}

.nav-link:hover, .navbar-brand:hover {
	color: #7c7c7d;
}

.anchor {
    display: block;
    position: relative;
    visibility: hidden;
}

.splashpage {
    color: white;
    padding-top: 100px;
}

.hideme {
    opacity: 0;
}

.aboutsection {
    background-color: #f8f8f8;
    min-height: 100vh;
}

#meme {
    margin: 4px;
    max-width: 25%;
    padding: 2px;
    border: 2px solid black;
}

.name {
    color: white;
    margin-top: 100px;
}

.summary {
    margin: 4px;
}

.table td{
    font-size: 12px;
    font-weight: bold;
    color: black;
}

a:link, a:visited {
    color: black;
}

.biolinks:hover, a:hover {
    color: blue;
    text-decoration: none;
}

/* title */
.bgimg1 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
    url("./images/bgimg-1.jpg"); 
    background-attachment: fixed;
    background-repeat: no-repeat; 
    background-size: cover; 
    background-position: bottom;
    height: 100vh;
    position: relative;
    color: white;
}

/* projects */
.bgimg2 {
    /* background-color: #c3c3c3; */
    background-image: linear-gradient(#f8f8f8, #c3c3c3);
    min-height: 100vh;
}

.biolinks {
    color: rgba(255, 255, 255, 0.5);
    font-size: 36px;
    /* display: block; */
    margin: 4px;
    filter: invert(100%)
}

.projectlinks {
    color: black;
    font-size: 28px;
}

.project:hover {
    box-shadow: 0px 0px 2px 1px #444444;
}

#emailbtn {
    text-align: center;
    width: 50%;
}

#footer {
    text-align: center;
    background-color: white;
    border-radius: 20px;
    padding: 4px;
    margin-top: 16px;
}

#copyright {
    font-size: 12px;
    margin-top: 4px;
    padding: 0px;
}